<% provide(:title, "Edit user") %>
<div class="page-header">
  <h1>Edit user</h1>
</div>

<div class="span6 offset3">
  <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages_user' %>

    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>

    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control' %>

    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>

    <%= f.label :password_confirmation, "Confirm Password" %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>

    <%= f.label :about %>
    <%= f.text_area :about, class: 'form-control', :rows => 3, :cols => 80 %>

    <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
  <% end %>
  <p>
    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails">change</a>
  </p>
</div>
