<div class="page-header">
  <h1><%= post.title %></h1> in 
  <% post.categories.each do |c| %>
    <%= link_to c.name, c %>, 
  <% end %>
</div>
<li>
  <p>
    <%= image_tag post.illustration.url(:thumb), class: 'thumb' %>
    <%= sanitize post.content %>
  </p>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago by <%= link_to post.user.name, post.user %>. <% if signed_in? && current_user.admin? %>
    | <%= link_to "Delete", post, method: :delete, data: { confirm: "You sure?" } %>
    | <%= link_to "Edit", edit_post_path(post.id) %> <% end %>
  </span>
  <%= link_to "--> Read More", post %>
</li>