<% provide(:title, 'Edit post') %>
<div class="page-header">
  <h1>Edit post</h1>
</div>

<div class="span6 offset3">
  <%= form_for(@post) do |f| %>
    <%= render 'shared/error_messages_post' %>
    
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control'%>

    <%= f.label :excerpt, class: 'form-control'%>
    <%= f.text_area :excerpt, :rows => 3, :cols => 80 %>

    <%= f.label :illustration %>
    <%= f.file_field :illustration, class: 'form-control' %><br />

    <%= link_to "Upload an image", new_medium_path, :target => '_blank' %> <%= link_to "Use an image", media_path, :target => '_blank' %><br /><br />

    <%= f.label :content %>
    <%= f.text_area :content , class: 'form-control tinymce', :rows => 20, :cols => 80 %>
    <%= tinymce :content_css => asset_path('custom.css') %><br />

    <% categories_array = Category.all.map { |category| [category.name, category.id] } %>
    <%= f.select :category_ids, options_for_select(categories_array), {class: 'form-control'}, { :multiple => true } %>

    <%= f.label :published %>
    <%= f.check_box :published %>

    <%= f.submit "Post", class: "btn btn-large btn-primary" %>
  <% end %>
</div>